html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 200vh;
    font-family: 'Lato', sans-serif;
}

button {
    cursor: pointer;
}


/* NAVBAR */

#nav-links-list a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

#nav-links-list a:hover {
    color: rgba(255, 255, 255, 0.616);
}

.logo {
    max-height: 5.7vmin;
}

.navbar {
    /* display: flex; */
    min-height: 15vh;
    position: sticky;
    top: 0;
    background-color: rgba(15, 15, 15, 0.884);
    color: white;
    padding: 15px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pointer {
    cursor: pointer;
}

.pointer:hover {
    color: rgba(255, 255, 255, 0.616);
}

#nav-links-list {
    width: 50vw;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#search-set>input {
    /* position: relative; */
    padding: 0.1em 0.6em;
    font-size: large;
    border: none;
    border-radius: 10px
}

#search-set>button {
    cursor: pointer;
    padding: 0.1em 0.5em;
    border: solid white 1.4px;
    border-radius: 10px;
    font-size: large;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    transition: all 0.25s;
}

#search-set>button:hover {
    background-color: #fff;
    color: black;
}


/* Glowing logo */

@keyframes rainglow {
    from {
        filter: hue-rotate(0deg);
    }
    to {
        filter: hue-rotate(360deg);
    }
}

.logo:hover {
    animation: rainglow 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


/* NAVBAR DONE ---------------------- */


/* HEADER */

header::before {
    content: "";
    position: absolute;
    min-height: 145vh;
    min-width: 98.5vw;
    z-index: -2;
    /* top: -70vh; */
    bottom: 0vh;
    opacity: 0.7;
    background: url("images/bkground-project-2-min.jpg");
    background-attachment: fixed;
    background-size: cover;
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 85vh;
    background-color: rgba(0, 0, 0, 0.651);
    color: white;
}

.header-text-content {
    width: 50vw;
    /* display: flex; */
    /* flex-direction: column; */
}

.header-text:nth-child(2) {
    margin-bottom: 0.95em;
}

.header-text-content>button {
    padding: 0.25em 1.2em;
    margin: 0.15em;
    font-size: 1.1em;
    border: 1.5px solid white;
    border-radius: 1em;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    transition: all 0.54s;
}

.header-text-content>button:hover {
    background-color: #fff;
    color: black;
}

.header-logo {
    height: 10em;
}

.header-logo:hover {
    animation: rainglow 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}


/* main -----------------------------------------------------| */

main>section>img {
    height: 50vh;
    border-radius: 1em;
}

main>section {
    display: flex;
    margin: 7em 2em;
}

main>section>div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: -1em 2em;
}


/* contact form */

#contact-us {
    background-color: rgb(255, 249, 239);
    padding: 20px 0;
}

#contact-us>h2 {
    display: block;
    text-align: center;
}

#contact-us>form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* align-items: center; */
    /* width: 70vw; */
    min-height: 300px;
}

form>input,
textarea {
    width: 70vw;
    align-self: center;
    padding: 4px 10px;
}

h1 {
    font-size: 45px;
}

h2 {
    font-size: 45px;
}

footer {
    padding: 2em;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.87);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
